body{
    margin:10px auto;
    background-color: rgb(19, 19, 19);
    display: grid;
    justify-content: center;
    grid-template-rows:1fr 2fr 2fr ;
    grid-template-columns:0.5fr ;
    width: 100vw;
    

}

h1{
    color: rgb(236, 234, 234);
    justify-self: center;
}

.ball{
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;

    width: 100px;
    height: 100px;
    background-color: darkkhaki;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    transition:1s;
}

.ball2{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;

    width: 100px;
    height: 100px;
    background-color: rgb(186, 111, 230);
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    transition:1s;

}