body {
    margin: 10px auto;
    background-color: rgb(19, 19, 19);
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 4fr 2fr 2fr;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas:
        "heeder heeder"
        "ball1 ball2"
        "ball3 ball4"
        "ball5 ball6";
    width: 100vw;


}

h1 {
    grid-area: heeder;
    color: rgb(236, 234, 234);
    justify-self: center;
}

.ball {
    grid-area: ball1;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;

    width: 100px;
    height: 100px;
    background-color: darkkhaki;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
}

.ball2 {
    grid-area: ball2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;

    width: 100px;
    height: 100px;
    background-color: rgb(186, 111, 230);
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;

}

.ball3 {
    grid-area: ball3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;

    width: 100px;
    height: 100px;
    background-color: rgb(56, 127, 178);
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
}

.ball4 {
    grid-area: ball4;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;

    width: 100px;
    height: 100px;
    background-color: rgb(42, 134, 110);
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
}

.ball5 {

    grid-area: ball5;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;

    width: 100px;
    height: 100px;
    background-color: rgb(94, 114, 201);
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;

}

.ball6 {

    grid-area: ball6;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;

    width: 100px;
    height: 100px;
    background-color: rgb(134, 224, 38);
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;

}
